@import "web";

.now-search-list {
  .now-search-list-no-result {
    padding: 2rem;
    color: white;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0;
      list-style-type: square;
      margin: 0;
    }
  }
}
