<section class="now-search-list">
  {{#inject now-search-template /}}

  {{#entities}}
    {{> .entityType + 'SearchTemplate'}}
  {{/entities}}

  {{#if noResult}}
    <div class="now-search-list-no-result">
      <img src="/public/now/now-hero.png" />
      <h5>{{_('No result found for you search.')}}</h5>
      <p>{{_('Suggestions:')}}</p>
      <ul>
        <li>{{_('Make sure that all words are spelled correctly.')}}</li>
        <li>{{_('Try different keywords.')}}</li>
        <li>{{_('Try more general keywords.')}}</li>
        <li>{{_('Try fewer keywords.')}}</li>
      </ul>
    </div>
  {{/if}}
</section>
