<div class="now">

  {{#inject now-before /}}

  {{#if userCanWrite}}
    <button class="pl-section now-create" on-click="createPost">{{_('Create')}}</button>
  {{/if}}

  <section class="pl-section now-search">
    <input
      type="text"
      value="{{search}}"
      placeholder="{{_('search for any content...')}}"
      class="now-search-input {{search ? 'searching' : ''}}"
      on-keypress="updateSearch"
    />
    <i class="fa fa-search {{search ? 'searching' : ''}}"></i>
    <div
      class="now-search-cross {{search ? 'searching' : ''}}"
      title="clear the search value"
      on-click="clearSearch"
    ></div>
  </section>

  <section class="pl-section now-container">

    <rv-require name="pl-scrolls" src="/public/vendor/plumes/scrolls/pl-scrolls"></rv-require>

    <div class="pl-scrolls">

      <rv-require
        name="now-list"
        src="/public/now/now-list"
        ondemand="now-list"

        data-count="30"
        data-on-click="itemClick"
        data-on-searchloaded="contentLoaded"
      ></rv-require>

      <rv-require
        name="now-search-list"
        src="/public/now/now-search-list"
        ondemand="now-search-list"

        data-count="30"
        data-bindparent-search="search"
        data-on-click="itemClick"
        data-on-activitiesloaded="contentLoaded"
      ></rv-require>
    </div>
  </section>
</div>
